table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  

  
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .event {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 20px;
    overflow: hidden;
    width: 96%;
  }

  .event h6 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .event h2 {
    letter-spacing: 1px;
    margin: 10px 0;
  }
  
  .event-preview {
    background-color: #2A265F;
    color: #fff;
    padding: 30px;
    width: 550px;
  }
  .event-preview a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
  }
  
  .event-info {
    padding: 30px;
    position: relative;
    width: 100%;
  }
  
  .progress-container {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    width: 150px;
  }
  
  .progress {
    background-color: #ddd;
    border-radius: 3px;
    height: 5px;
    width: 100%;
  }
  